/* line 1, ../sass/login.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 4, ../sass/login.scss */
#container {
  background-color: #e6e6e6;
  width: 500px;
  min-height: 400px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #9c723c;
  overflow: visible;
}
/* line 13, ../sass/login.scss */
#container #logo {
  width: 150px;
  height: auto;
}
/* line 17, ../sass/login.scss */
#container h1 {
  color: #261b13;
}
/* line 20, ../sass/login.scss */
#container p {
  font-size: 20px;
}
/* line 23, ../sass/login.scss */
#container p#error {
  color: red;
}
/* line 26, ../sass/login.scss */
#container #user, #container #pass {
  width: 200px;
  height: 25px;
  font-size: 15px;
  border: 1px solid #4c372a;
}
/* line 32, ../sass/login.scss */
#container #submitButton {
  width: 120px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
  border: 1px solid #4c372a;
  background-color: #e6e6e6;
}
