/*FONTS*/
/*WEIGHTS*/
/*COLORS*/
/* line 18, ../sass/main.scss */
body {
  background-color: #e6e6e6;
  font-family: "Istok Web", sans-serif;
}

/* line 24, ../sass/main.scss */
.section {
  height: 100%;
  width: 100%;
}
/* line 27, ../sass/main.scss */
.section h1 {
  font-size: 50px;
}
/* line 30, ../sass/main.scss */
.section h2 {
  font-size: 40px;
}

/*Import additional stylesheets*/
/* line 1, ../sass/_home.scss */
.videoContainer {
  overflow: hidden;
  margin-top: -100px;
  width: 100%;
  height: 100%;
}
/* line 7, ../sass/_home.scss */
.videoContainer #homeVid {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 50%;
  min-height: 50%;
  width: auto;
  height: auto;
  z-index: -100;
}
/* line 19, ../sass/_home.scss */
.videoContainer .overlay {
  margin-top: 100px;
  margin-left: 200px;
  position: absolute;
  z-index: 2;
}
/* line 24, ../sass/_home.scss */
.videoContainer .overlay h2 {
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
  font-family: "Istok Web", sans-serif;
  font-size: 50px;
  color: #e6e6e6;
}
/* line 31, ../sass/_home.scss */
.videoContainer .overlay p {
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
  color: #e6e6e6;
  font-size: 35px;
  font-family: "Istok Web", sans-serif;
  width: 400px;
}

/* line 2, ../sass/_info.scss */
#section1 .fullPage-slidesNav {
  width: 100%;
}
/* line 4, ../sass/_info.scss */
#section1 .fullPage-slidesNav ul {
  text-align: center;
  list-style: none;
}
/* line 7, ../sass/_info.scss */
#section1 .fullPage-slidesNav ul li {
  display: inline-block;
  margin-bottom: 40px;
}
/* line 10, ../sass/_info.scss */
#section1 .fullPage-slidesNav ul li a {
  text-decoration: none;
  color: #5f4739;
  font-size: 25px;
}
/* line 16, ../sass/_info.scss */
#section1 .fullPage-slidesNav ul li a.active {
  color: #ad8454;
}
/* line 19, ../sass/_info.scss */
#section1 .fullPage-slidesNav ul li a:hover {
  color: #ad8454;
}
/* line 26, ../sass/_info.scss */
#section1 h1 {
  font-size: 40px;
  color: #32CD32;
  margin-bottom: 10px;
  position: relative;
}

/* line 1, ../sass/_map.scss */
#map {
  float: left;
  width: 100%;
  height: 100%;
}

/* line 6, ../sass/_map.scss */
#controlpanel {
  position: absolute;
  right: 0;
  top: 80px;
  width: 20%;
  font-size: 25px;
  padding: 5px;
  background: #e6e6e6;
  /* Fall-back for browsers that don't support rgba */
  background: rgba(230, 230, 230, 0.7);
  border: 1px solid #261b13;
  margin-top: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  color: #4c372a;
  font-variant: small-caps;
}
/* line 21, ../sass/_map.scss */
#controlpanel h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #65b342;
}
/* line 28, ../sass/_map.scss */
#controlpanel #checkboxes {
  margin: 0 0 10px 10px;
}
/* line 30, ../sass/_map.scss */
#controlpanel #checkboxes input[type="checkbox"] {
  display: none;
}
/* line 33, ../sass/_map.scss */
#controlpanel #checkboxes input[type="checkbox"] + label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 30px;
  vertical-align: middle;
  background: url("../img/checkbox.png") center no-repeat;
  cursor: pointer;
}
/* line 42, ../sass/_map.scss */
#controlpanel #checkboxes input[type="checkbox"]:checked + label span {
  background: url("../img/checkbox_checked.png") center no-repeat;
}

/* line 47, ../sass/_map.scss */
.infowindow {
  min-width: 500px;
  min-height: 500px;
  text-align: center;
}

/* line 1, ../sass/_navigation.scss */
#navigation {
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: #e6e6e6;
  z-index: 99;
  -webkit-box-shadow: 0 1px 1px -1px #261b13;
  -moz-box-shadow: 0 1px 1px -1px #261b13;
  box-shadow: 0 1px 1px -1px #261b13;
}
/* line 10, ../sass/_navigation.scss */
#navigation #logo {
  height: 100%;
  width: 300px;
  background-color: #33241a;
  color: #e6e6e6;
  font-size: 30px;
  text-align: center;
  float: left;
  line-height: 80px;
}
/* line 20, ../sass/_navigation.scss */
#navigation #navlinks {
  margin-top: 30px;
  list-style: none;
  margin-right: 70px;
  float: right;
  height: 20px;
}
/* line 26, ../sass/_navigation.scss */
#navigation #navlinks li {
  font-weight: 700;
  border-left: 1px solid #65b342;
  font-family: "Inconsolata";
  display: inline-block;
  height: 100%;
  text-align: center;
  padding: 0 20px;
  font-size: 25px;
}
/* line 35, ../sass/_navigation.scss */
#navigation #navlinks li a {
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #4c372a;
}
/* line 42, ../sass/_navigation.scss */
#navigation #navlinks li a:hover {
  color: #9c723c;
}
/* line 46, ../sass/_navigation.scss */
#navigation #navlinks li.active a {
  color: #9c723c;
}
/* line 49, ../sass/_navigation.scss */
#navigation #navlinks .first {
  border: none;
}

/* line 1, ../sass/_gallery.scss */
#gallery_ {
  background-color: black;
}
