@media (max-width: 320px){
	#navigation {
  height: 50px;
  width: 100%;
  position: fixed;
  display: block;
  background-color: #e6e6e6;
  z-index: 99;
  border-bottom: 1px solid #6b6e76; }


 #navigation #logo{
	 margin:0;
	margin-right:auto;
	 margin-left: 35%;
	 height: 70px;
    width: 70px;
		/*background-color: #33241a;
		height: 100	%;
    	width: 200px;
    	color: white;
    	font-size: 15px;
   	 	text-align: center; 
   	 	float: left;
    	/*line-height: 80px;*/
 }

    #navigation #navlinks {
      display: none;  
      margin:0;
  margin-right:auto;
   margin-left: 15%;
   /* background-color: white;*/
    list-style: none;
   /* margin-left: -20px;
    margin-top: 0px;*/
    padding-bottom: -20px;
    float: right;
    height: 50px; }
	
	
    #navigation #navlinks li {
		background-color: rgba(235,235,235, .6);
		font-family: "Oswald", sans-serif;
    border-left: none;
    	margin-top: -60px;
     display: ;
      height: 90%;
	   width: 60px;
      padding-bottom: 0px;
      padding-top: 0px;
      font-size: 15px;
       }
      #navigation #navlinks li a {
        text-decoration: none;
        color: #5f4739;
		      text-align: center;
          margin-left: -20px;

         }

         #navigation #navlinks li #hom{
            background-color: red;
         }

         .videoContainer {
  overflow: hidden;
  margin-top: -100px;
  width: 10%;
  height: 20%;
   }

.videoContainer #homeVid {
    position: absolute;
     right: 0;
    bottom: 0;
    width: 380%;
    height: 140%;
    z-index: -100;
  }
  .videoContainer .overlay h2 {
      font-family: "Oswald", sans-serif;
      font-size: 25px;
      margin-top: 40%;
      margin-left: -100px;
      max-width: 80%;
      color: #e6e6e6; }
    .videoContainer .overlay p {
      color: #e6e6e6;
      font-size: 15px;
      margin-left: -100px;
      max-width: 80%;
      font-family: "Open Sans", sans-serif;
      width: 400px; }

      .videoContainer .register{
     /* visibility: hidden; */
position: absolute;
bottom: 7px;
right: 178px;
float: right;
width: 75px;
height: 75px;
background-color: #65b342;
border-radius: 90px;
-webkit-border-radius: 90px;
-moz-border-radius: 90px; }
      

      .videoContainer .register p span{
        font-size: 7px; 
        top: 10px;
      }
       .videoContainer .register p {
        font-size: 8px; 
        top: 3px;
        letter-spacing: 4px;
      }
       
       }

      .section .arrowDown {
        visibility: hidden;
      }
}


@media (min-width: 320px){
   #navigation #navlinks {
      display: inline-block;
}
/*
	 #navigation #navlinks li {
      display: inline-block;
      height: 70%;
      text-align: center;
      padding: 20px;
      font-size:30px;
       }
}*/

@media (max-width: 1160px){
  /* #navigation #navlinks li {
      display: inline-block;
      height: 70%;
      text-align: center;
      padding: 20px;
      font-size: 20px;
      line-height: 90px;
 }*/
		
	#navigation #navlinks {
      display: none;  
	}
		
      #navigation #navlinks li {
      margin-top: -50px;
	    font-family: "Oswald", sans-serif;
      display: inline-block;
      height: 70%;
      text-align: center;
      padding: 20px;
      font-size: 15px;
      line-height: 90px; 
      font-weight: 700;
      border-left:none;
      }

#navigation #logo{
	margin:0;
	margin-left:45%;
	margin-right:auto;
	 height: 120px;
    width: 120px;
  }

  }