#gallery_{
	background-color: black;
	.fotorama{
		/*position: absolute;*/
		margin-left: -5%;
		top: $headerheight;
		width: 100%;
	}
	.subMenu{
		position: absolute;
		right: 40px;
		top: 38px;
		margin-top:30px;
		list-style:none;
		margin-right:70px;

		li{
			background-color: $brown;
			font-weight: $bold;
			/*border-left: 1px solid $green;*/
			font-family: $incon;
			display:inline-block;
			height:100%;
			text-align: center;
			padding:0 20px;
			font-size: 18px;
			color:$white;

			a{
				cursor: pointer;
				width:300px;
				padding-left: 5px;
				padding-right: 5px;
				color: $white;
				text-decoration:none;
			}
			a:hover{
				color:$lightestbrown;
			}
		}
		li.active a{
			color:$lightestbrown;
		}

	}

}
