#home_{
	background-color: rgba(0,0,0, 0.4);
}

.videoContainer{
	overflow: hidden;
	margin-top:-100px;
	width: 100%;

	#homeVid{
		position: absolute; 
		right: 0; 
		bottom: 0;
		min-width: 50%; 
		min-height: 50%;
		width: auto; 
		height: auto; 
		z-index: -100;
	}


	.overlay{
		margin-top: -80px;
		margin-left: 120px;
		position: absolute;
		z-index: 2;
		h2{
			font-family: $incon;
			font-size:65px;
			color: $white;
		}

		p{
			color:$white;
			font-size: 35px;
			font-family: $istok;
			width:400px;
		}
	}

	.register{
		position: absolute;
		bottom:40px;
		right: 40px;
		float: right;
		width: 180px;
		height: 180px;
		background-color: $green;
		-webkit-border-radius: 90px; 
		-moz-border-radius: 90px;

		p{
			line-height: 20px;
			span{
				font-size: 30px;
			}
			font-size: 12px;
			letter-spacing: 5px;
			position:relative;
			top:60px;
			color: $white;
			text-align: center;
			font-family: $incon;
		}

		&:hover{

		}
	}
}

