#section1{
	.fullPage-slidesNav{
		width:180px;
		margin-top:50%;
		margin-left:80px;
		ul{
			text-align: left;
			list-style: none;
			font-family: $istok;
			li{
				display: block;
				a{
					text-decoration:none;
					font-family: $istok;
					color:#5f4739;
					font-size:25px;
				
				}
				a.active{
						color:#ad8454;
					}
				a:hover{
					color:#ad8454;
				}

			}
		}
	}
	a{
		text-decoration:none;
		color:#5f4739;
	}
	a:hover{
		color:#ad8454;
	}
	h1{ 
		font-size: 40px;
		color: $green;
		margin-bottom: 10px;
		position:relative;
		font-family: $istok;
		text-align:center;
	}

		.fb-news-box{
			clear:both;
			margin-left:auto;
			margin-right:auto;
			font-family: $istok;

			.fb-like-box, .fb-like-box span, .fb-like-box.fb_iframe_widget span iframe {
	    	width: 100% !important;
			}
		}

	.intro{
		width:80%;
		height:80%;
		margin-left:300px;
	}

	.big-container-box{
		width:80%;
		text-align: justify;
		font-family: $istok;
		padding-bottom:60px;
		padding-top:10px;
	}
	
}
