#mapDiv{ 
	float:left;
	width:100%;
	height: 100%;
}
#controlpanel{
	position:absolute;
	right:0;
	top:80px;
	width:20%;
	font-size:25px;
	padding:5px;
	background:rgb(230, 230, 230);  /*Fall-back for browsers that don't support rgba */
    background:rgba(230, 230, 230, .7);
    margin-top:10px;
    margin-right:10px;
	box-sizing:border-box;
	color:$brown;
	font-variant:small-caps;
	h2{
		padding-bottom: 10px;
		border-bottom: 1px solid black;
		font-family: $incon;
		font-size:25px;
		text-align:left;
		margin-top:10px;
		margin-bottom:10px;
		color:$brown;
	}
	#checkboxes{
		margin:0 0 10px 10px;
		input[type="checkbox"] {
	    	display:none;
		}
		input[type="checkbox"] + label span {
		    display:inline-block;
		    width:20px;
		    height:20px;
		    line-height:30px;
		    vertical-align:middle;
		    background:url('../img/checkbox.png') center no-repeat;
		    cursor:pointer;
		}
		input[type="checkbox"]:checked + label span {
		    background:url('../img/checkbox_checked.png') center no-repeat;
		}
	}
}
.infowindow{
	min-width:100px;
	min-height:100px;
	overflow: auto;
	text-align:center;
	margin:30px;
}