#map { 
	display:block;
}
#controlpanel{
	position:absolute;
	right:0;
	top:0;
	width:20%;
	font-size: 20px;
	padding:5px;
	background:rgb(156, 114, 60); /* Fall-back for browsers that don't support rgba */
    background:rgba(156, 114, 60, .5);
    border:1px solid #4c372a;
    margin-top:10px;
    margin-right:10px;
	box-sizing:border-box;
	color:#4c372a;
	font-variant:small-caps;
	h2{
		font-size: 30px;
		text-align:center;
	}
	#checkboxes{
		margin:0 0 10px 10px;
		input[type="checkbox"] {
	    	display:none;
		}
		input[type="checkbox"] + label span {
		    display:inline-block;
		    width:35px;
		    height:35px;
		    line-height:30px;
		    vertical-align:middle;
		    background:url('img/checkbox.png') center no-repeat;
		    cursor:pointer;
		}
		input[type="checkbox"]:checked + label span {
		    background:url('img/checkbox_checked.png') center no-repeat;
		}
	}
}
#infowindow{
	min-width:500px;
	min-height:500px;
	text-align:center;
}