$green: #099b88;
$red: red;
$blue: blue;
$yellow: yellow;


body{
	
	background-color: $green;
}
#navigation{
	height:30px;
	position:fixed;
	background-color: black;
	z-index:99;
}
.section{
	height: 100%;
	h1{
		font-size:50px;
	}
	h2{
		font-size:40px;
	}
}

/*Import additional stylesheets*/

@import 'home', 'info', 'history', 'vendoroftheday', 'map';

