/*FONTS*/
$istok:  'Open Sans', sans-serif;
$incon: 'Oswald', sans-serif;

/*WEIGHTS*/
$normal: 400;
$bold:700;

/*COLORS*/
$white: #e6e6e6;
$brown: #261b13;
$lightbrown: #4c372a;
$lightestbrown: #9c723c;
$green: #65b342;

/*HEADERHEIGHT*/
$headerheight: 80px;

body{
	background-color:$white;
	font-family: $istok;
}

.section{
	height:100%;
	width:100%;
	.arrowDown{
		position: absolute;
		width: 50px;
		height: 50px;
		background:url(../img/arrow.png);
		background-size: cover;
		text-align: center;
		top: 90%;
		left: 47%;
		&:hover{
			top:91%;
			transition: top 0.3s;
		}
	}
	h1{
		font-size:50px;
	}
	h2{
		font-size:40px;
	}
}
.editButton{
	border:none;
	background:$white url('../img/edit.png') no-repeat 2px 2px;
	width:24px;
	height:24px;
	cursor:pointer;
}
#editBox{
	text-align: center;
	min-width:500px;
	min-height: 300px;
	.saveButton{
		width:120px;
		height:30px;
		font-size:20px;
		margin-bottom: 20px;
		color:$lightbrown;
		border:none;
		background-color:$white;
		cursor:pointer;
	}
	.saveButton:hover{
		color:$lightestbrown;
	}
}
/*Import additional stylesheets*/

@import '_home', '_info', '_map', '_navigation', '_gallery', '_contact';

