/*FONTS*/

$istok:  'Istok Web', sans-serif;
$incon: 'Inconsolata';

/*WEIGHTS*/
$normal: 400;
$bold:700;

/*COLORS*/
$white: #e6e6e6;
$brown: #261b13;
$lightbrown: #4c372a;
$lightestbrown: #9c723c;
$green: #65b342;


body{
	background-color:$white;
	font-family: $istok;

}

.section{
	height:100%;
	width:100%;
	h1{
		font-size:50px;
	}
	h2{
		font-size:40px;
	}

}

/*Import additional stylesheets*/

@import '_home', '_info', '_history', '_map', '_navigation', '_gallery', '_contact';

